#col1 {
    width: 50%;
    height: 50%;
    background-color: white;
    margin: auto;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

#col2 {
    width: 50%;
    height: 50%;
    background-color: white;
    margin: auto;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}